@use '../abstract/' as *;
.btn{
    background: $clr-dark;
    padding:1.5rem,2.5rem;
    margin: 2rem 0;
    font-weight: bold;
    border-radius: 1rem;
    display:flex;
    transition: .5s ease;
    font-family: Speedee-Bold;
    @include flex(center, center);
        &:hover{
            background: darken(#fff , 20);
        }
    &-primary{
        background: $clr-light;
    }
    $colorsbtn:(
        "light": $clr-light,
        "dark": $clr-dark,
        "accent": $clr-accent,
        "secondary": $clr-secondary
);
//color classes assigner ex: class="container bg-yellow"
@each $key, $val in $colorsbtn{
    .btnColor-#{$key}{
        background-color: #{$val};
    }
}
}