//base for typographical sizes of the divs, sections, body. i.e. line-height, liding.
@use '../abstract/' as *;
@font-face{
    font-family: "Clash-Display-Regular";
    src: url('../../fonts/ClashDisplay-Regular.woff');
}
@font-face{
    font-family: "Clash-Display-Medium";
    src: url('../../fonts/ClashDisplay-Medium.woff');
}
@font-face{
    font-family: "Clash-Display-Bold";
    src: url('../../fonts/ClashDisplay-Bold.woff');
}


body{
    font-family:  "Clash-Display-Regular";
    background-color:$clr-dark;
    // background-color:red;
    color:rgba($clr-light, 0.7);
    line-height: 1.6;
    font-size: 1.6rem;
    cursor: crosshair; 
}
/* .container{
    max-width: 175rem;
    padding: 0 1.6rem;
    margin:0 auto;
    background-color:$clr-dark;
    
    
}
.container1{
    max-width: 98rem;
    padding: 0 1.6rem;
    margin:0 auto;
    background-color:$clr-light;
    
} */
body.open{
 overflow: hidden;

}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: $clr-light;
}
p{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.3rem;
    text-wrap: balance;
    color: $clr-light;
}
h1,h2,h3,h4,h5,h6{
    font-weight:bold ;
    font-family: "Clash-Display-Bold";
    text-wrap: balance;
    color: $clr-light;
}
h1{
    font-size: clamp(3.5rem, 6vw,5.5rem);
    margin-bottom: 2rem;
}
h2{
    font-size: clamp(2rem, 6vw,3rem);
    margin-bottom: 2rem;
}
h3{
    font-size: clamp(2rem, 6vw,2.5rem);
    margin-bottom: 1.6rem;
}
h4{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.6rem;
}

ul{
    list-style: none;
    li{
        color: $clr-light;
        font-family: "Clash-Display-Medium";
    i{
        font-family: "Clash-Display-Regular";
    }
}
}
img{
    filter: brightness(100%);
    &:hover{
        filter: brightness(100%);
        transform: scale(1.025); 
    }
}
button{
    color: $clr-dark;
}
label, input ,textarea, i{
    color:$clr-dark;
    font-family:"Clash-Display-Regular" ;
}


    
