@use './colors' as *;
@mixin imgCover($ht:1px, $wd:100%){
    height: $ht;
    width: $wd;
    object-fit: cover;
   

}
@mixin roundedContainer($clr: $clr-light){
    max-width:180rem;
    padding:0 1.6rem;
    margin: 2rem auto;
}
//does not require a child-selector if used.
@mixin  mediaQuery($m-width:$sm){
    @media (max-width:$m-width){
        @content;
    }
}
// medium query
@mixin  mediaQuery__M($m-width:$md){
    @media (min-width:$m-width){
        @content;
    }
}
// mixin for dekstop first to mobile second
@mixin mediaQuery__Mobile($m-width:$xl){
    
}
// even grid
@mixin grid($cols: 1, $gap:1rem){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

// un even grid
@mixin unevenGrid($val: 1, $gap:1rem){
    display: grid;
    grid-template-columns: $val;
    grid-gap: $gap;
    margin-bottom: 5rem;
}

//mixin for bottom things
@mixin absolute($top:0,$right:0,$bottom:0,$left:0){
    position: absolute;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}
// mixin for banner:
@mixin flex($justify:flex-start,$align:flex-start){
    display:flex;
    justify-content: $justify;
    align-items: $align;
}